:root {
    --color-primary: #007cc2;
    --color-secondary: #68b92e;
}

*, ::before, ::after {
    --tw-border-opacity: 1;
    border-color: rgba(212, 212, 212, var(--tw-border-opacity));
}
.tw-mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.tw-block {
    display: block;
}
.tw-h-28 {
    height: 7rem;
}
.tw-w-28 {
    width: 7rem;
}
.tw-rounded-full {
    border-radius: 9999px;
}
.tw-border {
    border-width: 1px;
}
.tw-border-solid {
    border-style: solid;
}
.tw-border-secondary {
    border-color: var(--color-secondary);
}
.tw-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.tw-p-4 {
    padding: 1rem;
}
.tw-text-center {
    text-align: center;
}
li {
	list-style: none !important;
}
#mega-menu-wrap-menu-1 .mega-menu-toggle {
    display: none;
}

.wp-block-group__inner-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.bm-col {
    margin-left: 30px;
}
.bm-form_wrapper {

}
.bm-form-quote_wrapper {
    background: rgba(104, 185, 46, .8);
    color: #fff;
    padding: 40px 30px 20px 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: -50px;
}
.bm-form_wrapper .bm-form .gform_fields {
    display: block;
}
.bm-form_wrapper .gform_heading {
    padding: 10px 0;
}
.bm-form_wrapper .gform_required_legend,
.bm-form .gfield_visibility_visible label {
    display: none;
}
.bm-form_wrapper h2.gform_title {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.bm-form_wrapper .gform_description {
    color: #fff;
    border-left: 0;
    padding-left: 0;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 30px;
}
.bm-form {
    position: relative;
    z-index: 2;
}
.bm-form .gfield {
    margin-bottom: 15px;
}
.bm-form input[type="text"],
.bm-form input[type="email"],
.bm-form input[type="url"],
.bm-form input[type="password"],
.bm-form input[type="search"],
.bm-form input[type="number"],
.bm-form input[type="tel"],
.bm-form input[type="range"],
.bm-form input[type="date"],
.bm-form input[type="month"],
.bm-form input[type="week"],
.bm-form input[type="time"],
.bm-form input[type="datetime"],
.bm-form input[type="datetime-local"],
.bm-form input[type="color"],
.bm-form textarea {
    color: #fff;
    padding: 10px 0;
    border-radius: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-primary);
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
}
.bm-form textarea {
    height: 101px;
}
.bm-form input[type="submit"] {
    padding: 10px 25px;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    opacity: 1;
    width: 100%;
}
.bm-form input[type="text"]::-moz-placeholder,
.bm-form input[type="email"]::-moz-placeholder,
.bm-form textarea::-moz-placeholder,
.bm-form textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.bm-form input[type="text"]:-ms-input-placeholder,
.bm-form input[type="email"]:-ms-input-placeholder ,
.bm-form textarea:-ms-input-placeholder,
.bm-form textarea:-ms-input-placeholder {
    color: var(--color-primary);
}
.bm-form input[type="text"]::-webkit-input-placeholder,
.bm-form input[type="email"]::-webkit-input-placeholder,
.bm-form textarea::-webkit-input-placeholder,
.bm-form textarea::-webkit-input-placeholder {
    color: var(--color-primary);
}
.bm-form input[type="text"]:focus,
.bm-form input[type="email"]:focus,
.bm-form textarea:focus,
.bm-form textarea :focus {
    box-shadow: none;
}
.bm-form input[type="text"]:hover,
.bm-form input[type="text"]:focus,
.bm-form input[type="email"]:hover,
.bm-form input[type="email"]:focus,
.bm-form textarea:hover,
.bm-form textarea:focus {
    outline: 0;
    border-bottom: 1px solid var(--color-primary);
    box-shadow: none;
}
.home .box-image .blok-title {
    text-align: left;
}
.home .box-icon-body h5 {
    margin-top: 0;
}

.info-item .flag {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.info-item .flag .country_name {
    text-transform: uppercase;
}

.info-item .flag .img_flag  {
    width: 15px;
    margin : 0px 5px 0px 0px !important;
}
.flag_container {
    position: relative;
    z-index: 99;
}
.flag_container:hover .list_flag {
    display : block;
    transition : 0.25s;
}
.flag_container .list_flag {
    position : absolute; 
    background-color: white;
    border-radius: 5px;
    width: 110px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display : none;
}
.flag_container .list_flag ul {
    padding: 10px;
    margin-left: 0px !important;
}
.flag_container .list_flag ul li {
    width: 60px;
    margin: auto ;
    display : flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding : 10px 0px ;
    color : black;
}
.flag_container .list_flag ul li:hover .country_name{
    color : blue;
    transition : 0.25s ;
}
.flag_container .list_flag ul li .img_flag {
    width: 19px;
    margin : 0px 5px 0px 0px !important;
}

.flag_container .list_flag ul li .country_name {
    text-transform: uppercase;
}


.service-item {}
.service-item .image {

}
.service-item .image a {

}

@media (min-width: 768px) {
    .wp-block-group__inner-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .wp-block-group__inner-container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .wp-block-group__inner-container {
        width: 1170px;
    }
}
@media (max-width: 600px) {
    .blog-item .item-body {

    }
    .blog-item .metadate {
        float: none;
        display: none;
    }
    .blog-item .item-body .description {
        margin-left: 0;
    }
}
